<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material icons cdn  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->

    <link rel="stylesheet" href="../static/css/approvedleave.css">
    <script>
        setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 1500)    // 2000 millisecond
    </script>

<script> //for redirection
    function redirectToPending() {
        window.location.href = "{% url 'leave_status_pending' %}";
    }

    function redirectToRejected() {
            window.location.href = "{% url 'leave_status_rejected' %}";
        }
    </script>
    <title>Approved Leaves</title>
</head>
{% if messages %}
<div class="messages" id="msg">
  {% for mess in messages %}
    <div class="message message-success">
      {{ mess }}
    </div>
  {% endfor %}
</div>
{% endif %}
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <!-- <img src="./images/logo.png" alt="logo"> -->
                    <h2>Leave<span>Mate</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <i class="material-icons">close</i>
                </div>
            </div>

            <div class="sidebar">
                <a href="/" class="onclickf" id="button1">
                    <i class="material-icons">dashboard</i>
                    <h3>Dashboard</h3>
                </a>
                
                <a href="/profile_page" class="onclickf" id="button2" onclick={onclickactive}>
                    <i class="material-icons">person</i>
                    <h3>Profile</h3>
                </a>
                
                <a href="/leaveform" class="onclickf" id="button3">
                    <i class="material-icons">add_circle</i>
                    <h3>Apply for Leave</h3>
                </a>
                
                <a href="/approved_leave_data" class="active onclickf" id="button4">
                    <i class="material-icons">import_contacts</i>
                    <h3>Approved Leaves</h3>
                </a>
                
                <!-- <a href="#" class="onclickf" id="button5">
                    <i class="material-icons">school</i>
                    <h3>Courses</h3>
                </a> -->
                
                <!-- <a href="#" class="onclickf" id="button6">
                    <i class="material-icons">settings</i>
                    <h3>Settings</h3>
                </a> -->

                <a href="/logout" class="onclickf" id="button7">
                  <i class="material-icons">logout</i>
                  <h3>Logout</h3>
                </a>
            </div> 
        </aside>

        <div class="middle">

                <div class="heading">
                    <div class="content"><h2>Leave Status</h2></div>
                    <div class="right-top">
                        <button id="menu-btn">
                            <i class="material-icons">menu</i>
                        </button>
                        <div class="theme-toggler">
                            <i class="material-icons active">light_mode</i>
                            <i class="material-icons">dark_mode</i>
                        </div>
                    </div>
                </div>

                <div class="tabs">
                  <!-- <div class="tab">
                    <button class="tablinks" onclick="redirectToPending()">Pending</button>
                    <button class="tablinks" onclick="status(event, 'Approved')">Approved</button>
                    <button class="tablinks" onclick="redirectToRejected()">Rejected</button>
                  </div> -->
                  <div class="title">
                    <h2>Approved Leaves of Students</h2>
                  </div>
                  <!-- Tab content -->
                  
                  <div id="Approved" class="tabcontent">
                    
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Leave Type</th>
                                <th>Leave Duration</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Reason</th>
                                <!-- <th>Role</th> -->
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in leave_data %}
                                <!-- {% if leave.status == "approved" %} -->
                                <tr>
                                    <td>{{leave.id}}</td>
                                    <td>{{leave.name}}</td>
                                    <td>{{leave.leave_type}}</td>
                                    <td>{{leave.leave_duration}}</td>
                                    <td>{{leave.from_date}}</td>
                                    <td>{{leave.to_date}}</td>
                                    <td>{{leave.reason}}</td>
                                    <td>{{leave.role}}</td>
                            
                                </tr>
                                <!-- {% endif %} -->
                            {% endfor %}
                        </tbody>
                    </table>

                  </div>
                </div>

        </div>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <i class="material-icons">menu</i>
                </button>
                <div class="theme-toggler">
                    <i class="material-icons active">light_mode</i>
                    <i class="material-icons">dark_mode</i>
                </div>
                
                {% comment %} <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{user.name}}</b></p>
                        <small class="text-muted">{{user.email}}</small>
                    </div>
                    <!-- <div class="profile-photo">
                        <img src="" alt="profile-photo">
                    </div> -->
                </div> {% endcomment %}
            </div>

        

    </div>

    <script src="../static/js/approvedleave.js"></script>
</body>
</html>    