<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Material icons cdn  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- css -->

    <link rel="stylesheet" href="{% static '/css/data.css' %}">

<script> //for redirection
    function redirectToPending() {
        window.location.href = "{% url 'leave_status_pending' %}";
    }

    function redirectToRejected() {
            window.location.href = "{% url 'leave_status_rejected' %}";
    }
    setTimeout(function(){
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
    }, 1500)    // 2000 millisecond
</script>
    <title>Dashboard</title>
</head>
{% if messages %}
<div class="messages" id="msg">
  {% for mess in messages %}
    <div class="message message-success">
      {{ mess }}
    </div>
  {% endfor %}
</div>
{% endif %}
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    {% comment %} <img src="./images/logo.png" alt="logo"> {% endcomment %}
                    <h2>Leave<span>Mate</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <i class="material-icons">close</i>
                </div>
            </div>

            <div class="sidebar">
                <a href="/admin_page" class="onclickf" id="button1">
                    <i class="material-icons">dashboard</i>
                    <h3>Dashboard</h3>
                </a>
                
                <a href="/leave_status_pending" class="onclickf" id="button3">
                    <i class="material-icons">add_circle</i>
                    <h3>Leave Status</h3>
                </a>

                <a href="/student_data" class="onclickf" id="button3">
                    <i class="material-icons">analytics</i>
                    <h3>Student Data</h3>
                </a>

                <a href="/faculty_data" class="onclickf" id="button3">
                    <i class="material-icons">analytics</i>
                    <h3>Faculty Data</h3>
                </a>

                <a href="/ta_data" class="active onclickf" id="button3">
                    <i class="material-icons">analytics</i>
                    <h3>TA Data</h3>
                </a>

                <a href="/change_password" class="onclickf" id="button3">
                    <i class="material-icons">analytics</i>
                    <h3>Change Password</h3>
                </a>

                <a href="/logout" class="onclickf" id="button7">
                  <i class="material-icons">logout</i>
                  <h3>Logout</h3>
                </a>
            </div> 
        </aside>

        <div class="middle">

                <div class="heading">
                    <div class="content"><h2>TA Data</h2></div>
                    <div class="right-top">
                        <button id="menu-btn">
                            <i class="material-icons">menu</i>
                        </button>
                        <div class="theme-toggler">
                            <i class="material-icons active">light_mode</i>
                            <i class="material-icons">dark_mode</i>
                        </div>
                    </div>
                </div>

                <div class="tabs">
                  
                  <!-- Tab content -->
                  
                  <div id="Approved" class="tabcontent">
                    
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Faculties</th>
                                <th>Courses</th>
                                <th>Email</th>
                                <th>No of Leaves</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in ta_data %}
                                <tr>
                                    <td>{{leave.id}}</td>
                                    <td>{{leave.name}}</td>
                                    <td>
                                        {% for faculty in leave.faculties %}
                                        {{faculty}},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for course in leave.courses %}
                                        {{course}},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{leave.email}}
                                    </td>
                                    <td>{{leave.nol}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                  </div>
                </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="../static/js/leave-status.js"></script>
</body>
</html>    